<div class="row">
  <div class="span12">
    <h2><%= @question.question %></h2>
  </div>
</div>

<div class="row">
  <div class="span4 offset4">

    <%= simple_form_for @question, :url => user_answers_path, :method => :post do |f| %>

      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.hidden_field :question_id, :value => @question.id %>
        <%= f.hidden_field :user_id, :value => @user.id %>

        <%= f.association :answers, :collection => @question.answers, :as => :radio_buttons, :label_method => :answer, :value_method => :id %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, :class => "btn btn-primary", :value => "Answer!" %>
      </div>

    <% end %>
  </div>  
</div>

