<div class="row">
  <div class="span12">
    <h2><%= @quiz.name %></h2>
    <%= button_to "All Quizzes", quizzes_path, :method => :get, :class => "btn btn-inverse" %>
  </div>
</div>

<%= render :partial => "create" %>

<div class="row">
  <div class="span6">
    <h3>Current Questions</h3>

    <% if @quiz.questions.empty? %>

      <em>No Questions Yet</em>

    <% end %>

      <% @quiz.questions.each do |q| %>

      <div class="well">

        <%= render :partial => "shared/question_show", :locals => { :question => q } %>

        <%= button_to "Edit", edit_question_path(q), :method => :get, :class => "btn btn-inverse" %>
      </div>

      <% end %>
  </div>

  <div class="span6">
    <h3>Particapating Users</h3>

    <% User.all.each do |u| %>

      <% if u.started_quiz?(@quiz) || u.completed_quiz?(@quiz) %>

        <div class="well">
          
          <%= render :partial => "shared/user_show", :locals => { :user => u } %>
          <%= render :partial => "shared/user_quiz", :locals => { :quiz => @quiz, :user => u } %>

          <%= button_to "Edit", edit_user_path(u), :method => :get, :class => "btn btn-inverse" %>

          <% unless u.session_token == session[:session_token] %>
            <%= button_to "Delete", user_path(u), :method => :delete, :confirm => "Are you sure?", :class => "btn btn-danger" %>
          <% end %>

        </div>

      <% else %>

        <em>No users have participated in this quiz</em>

      <% end %>

    <% end %>
  </div>
</div>























