<%= simple_form_for answer, :html => {:class => "form-inline"} do |f| %>

  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :answer %>

    <%= f.association :question, :collection => Question.all, :label_method => :question, :value_method => :id %>
    <%= f.association :diva, :collection => Diva.all, :label_method => :name, :value_method => :id %>
  </div>

  <div class="form-actions">
    <% if answer.id? %>

      <%= f.button :submit, :url => answer_path(answer), :class => "btn #{class_name}", :value => btn_text %>

    <% else %>

      <%= f.button :submit, :url => answers_path, :class => "btn #{class_name}", :value => btn_text %>

    <% end %>
  </div>

<% end %>