<%= simple_form_for diva, :url => divas_path, :html => { :class => "form-inline" } do |f| %>

  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :description, :as => :text, :input_html => { :rows => 5 } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, :class => "btn #{class_name}", :value => btn_text %>
  </div>
<% end %>