<%= simple_form_for question, :html => {:class => "form-inline"} do |f| %>

  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.hidden_field :quiz_id, :value => quiz.id %>
    <%= f.input :question %>
  </div>

  <div class="form-actions">

    <% if question.id? %>

      <%= f.button :submit, :url => answer_path(question), :class => "btn #{class_name}", :value => btn_text %>

    <% else %>

      <%= f.button :submit, :url => questions_path, :class => "btn #{class_name}", :value => btn_text %>

    <% end %>
  </div>

<% end %>