<!DOCTYPE html>
<html>
<head>
  <title>DivaQuiz</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <container>
    <% if flash[:notice] %>
      <div class="alert">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:notice] %>
      </div>
    <% end %>

    <%= yield %>
  
  </container>
</body>
</html>
